        @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
        *,
         ::after,
         ::before {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        h3,
        h4 {
            letter-spacing: 0.25rem;
            line-height: 1.5;
            margin-bottom: 0.75rem;
        }
        
        h3 {
            text-transform: uppercase;
            color: rgb(10, 81, 122);
        }
        
        h4 {
            text-transform: capitalize;
        }
        
        p {
            margin: 2rem 0;
            color: gray;
        }
        
        img:not(.logo) {
            width: 100%;
        }
        
        img {
            display: block;
        }
        
        .section-center {
            width: 90vw;
            margin: 5rem auto;
        }
        
        .gift-img {
            margin-bottom: 2rem;
        }
        
        .date {
            color: rgb(175, 170, 170);
            font-size: 0.85rem;
        }
        
        @media screen and (min-width: 992px) {
            .section-center {
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                gap: 3rem;
                width: 95vw;
            }
            .gift-img {
                margin-bottom: 0;
            }
        }
        
        .deadline {
            display: flex;
        }
        
        .deadline-format {
            background: rgb(29, 46, 77);
            color: white;
            margin-right: 1rem;
            width: 5rem;
            height: 5rem;
            display: grid;
            place-items: center;
            text-align: center;
        }
        
        .deadline-format span {
            display: block;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.85rem;
        }
        
        .deadline h4:not(.expired) {
            font-size: 2rem;
            margin-bottom: 0.25rem;
            letter-spacing: 0.25rem;
        }